* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.bg-sand {
   background-color: #fff5e2;
}

.half-container {
   width: 50%;
}

.home-bar {
   position: relative;
   height: 15vh;
}

.burger-color {
   background-color: #fdbb40;
}

.burger {
   position: absolute;
   left: 85%;
}

.burger-name {
   width: 30%;
}

.text-porpora {
   color: #d33359;
}

main {
   height: 75vh;
}

main img {
   width: 50px;
}

footer {
   height: 10vh;
   background-color: #d33359;
}

.form-check-input,
.form-check-input:checked {
   /* color: #d33359; */
   background-color: #d33359;
   border: 1px solid rgba(0, 0, 0, 0.25);
}
